backend/backenv/
frontend/node_modules/



backend/*.env
backend/creds.py
backend/api.txt
backend/__pycache__/*
backend/database1.db
backend/dump.sql
backend/Text/*
backend/UNUSED/*
backend/app.log
backend/test.py/backend/loggers.txt
backend/Obsolete/*
backend/code_review.py
backend/code_review_*.*
backend/app.log.*
backend/app.log
backend/static/profile_pictures/*
backend/all_mail.csv
backend/code_review_*.txt
backend/code_review.py
backend/contacted.csv
backend/loggers.txt
backend/mydatabase.db
backend/subscibers.csv
backend/backup.sql
backend/logs
backend/.vscode
backend/package-lock.json
backend/package.json
backend/flask_session
backend/.gitignore
backend/logs
backend/report.csv
backend/.vscode
backend/instance

backend/migrations

frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
package-lock.json
.prettierrc
package.json

```