

fastapi==0.110.0
anthropic==0.52.2
tiktoken==0.6.0
python-dotenv==1.0.1
pydantic_settings==2.2.1
sqlalchemy==2.0.27
aiomysql==0.2.0
mysql==0.0.3
mysql-connector-python==8.3.0
openai==1.55.3
aioboto3==12.3.0
pydub==0.25.1
pymediainfo==6.1.0
redis==5.0.2
pylatexenc==2.10
reportlab==4.1.0
numpy==1.26.4
qrcode==7.4.2
sendgrid==6.11.0
email-validator==2.1.1
sentry_sdk==1.40.6
asyncpg==0.29.0
psycopg2-binary==2.9.9